html {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  background-color: beige; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: url(../imagenes/fondodepantalla.jpg);
  background-attachment: fixed;
  top: 160px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%; }

@media screen and (max-width: 426px) {
  .productospage h2, .noticiaspage h2, .multimediapage h2, .contacto h2 {
    text-align: center; }
  .logo img {
    display: none; } }

@media (min-width: 0px) and (max-width: 425px) {
  .logo .cuatroest img {
    display: flex;
    background-color: black;
    justify-content: center;
    max-width: 100%; } }

@media screen and (min-width: 426px) {
  .logo .cuatroest img {
    display: none; } }

@media screen and (max-width: 425px) {
  .inicio {
    display: none; } }

@media (min-width: 0px) and (min-width: 425px) {
  .lomas {
    text-align: center;
    margin: 5vw 0;
    font-size: 3rem; } }

@media (min-width: 426px) and (max-width: 2560px) {
  .lomas {
    display: none; } }

.encabezado .logo {
  display: flex;
  background-color: black;
  justify-content: center;
  max-width: 100%;
  background: radial-gradient(white, #83f7b7);
  height: 160px; }

.logo img {
  width: auto;
  height: 150px; }

.logo .cuatroest img {
  max-width: 100%; }

.navbar {
  background-color: black; }
  .navbar .collapse {
    justify-content: center; }

.navbar-light .navbar-nav .nav-link {
  color: white;
  margin: 0 16px;
  font-size: 1.5rem; }
  .navbar-light .navbar-nav .nav-link:hover {
    background-color: antiquewhite; }

.navbar-light .navbar-toggler-icon {
  background-color: #83f7b7; }

.inicio h1 {
  text-align: center;
  margin: 5vw 0;
  font-size: 5rem; }

.noticias h2 {
  text-align: center;
  margin: 20px 0 30px 0;
  font-size: 3rem;
  text-decoration: underline; }

.carousel-caption {
  background-color: #999898;
  right: 40%;
  left: 40%;
  opacity: 0.80; }

.productos h2 {
  text-align: center;
  margin: 40px 0 20px 0;
  font-size: 50px;
  text-decoration: underline; }

.productos p {
  text-align: center; }

.fleximg {
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
  gap: 0.8rem;
  padding: 1rem;
  justify-content: center;
  margin-bottom: 2rem; }
  .fleximg .gohan, .fleximg .manga, .fleximg .gokussj {
    border: 1px solid #000;
    width: 400px;
    background-color: white; }
  .fleximg img {
    width: 100%; }

.multimedia h2 {
  text-align: center;
  margin: 40px 0 20px 0;
  font-size: 50px;
  text-decoration: underline; }

.multimedia iframe {
  display: block;
  margin: auto;
  max-width: 90%; }

.multimedia p {
  text-align: center;
  margin-top: 2px;
  font-size: 1.3rem; }

footer {
  background-color: #000;
  margin-top: 80px;
  padding: 2rem;
  background: linear-gradient(to left, #3b3b3b, #000); }
  footer .float {
    float: right; }
  footer .insta:hover {
    color: #ec0c7c; }
  footer .tama:hover {
    color: yellowgreen; }
  footer a {
    color: white;
    text-decoration: none; }
  footer .bi-instagram, footer .bi-facebook, footer .bi-bag {
    font-size: 2rem;
    margin: 0 16px; }
  footer .bi-instagram:hover {
    color: #ec0c7c; }
  footer .bi-bag:hover {
    color: yellowgreen; }

.noticiaspage h1 {
  font-size: 3.2rem;
  text-decoration: underline;
  margin: 20px 0 20px 20px; }

.noticiaspage h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px; }

.noticiaspage img {
  display: block;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 80%; }

.noticiaspage p {
  text-align: center;
  font-size: 1.3rem;
  margin: 5px 5vw 30px 5vw; }

.noticiaspage2 h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px; }

.noticiaspage2 img {
  display: block;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 80%; }

.noticiaspage2 p {
  text-align: center;
  font-size: 1.3rem;
  margin: 5px 5vw 30px 5vw; }

.noticiaspage3 h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px; }

.noticiaspage3 img {
  display: block;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 80%; }

.noticiaspage3 p {
  text-align: center;
  font-size: 1.3rem;
  margin: 5px 5vw 30px 5vw; }

.multimediapage h1 {
  font-size: 3.2rem;
  text-decoration: underline;
  margin: 20px 0 20px 20px; }

.multimediapage h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2rem; }

.multimediapage iframe {
  display: block;
  margin: auto;
  max-width: 90%; }

.multimediapage p {
  text-align: center;
  font-size: 1.3rem;
  margin: 5px 0 30px 0; }

.reviewpage h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px; }

.reviewpage iframe {
  display: block;
  margin: auto;
  max-width: 90%; }

.reviewpage p {
  text-align: center;
  font-size: 1.3rem;
  margin: 5px 0 30px 0; }

.contacto h1 {
  font-size: 3rem;
  text-decoration: underline;
  margin: 20px 0 30px 20px; }

.contacto form {
  text-align: center;
  font-size: x-large; }

.contacto input {
  letter-spacing: large; }

.nombre, .apellido, .email {
  margin: 5px 0; }

.productospage h1 {
  font-size: 3rem;
  text-decoration: underline;
  margin: 20px 0 20px 20px; }

.name h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2rem; }

.gohanpage {
  display: grid;
  grid-template-columns: repeat(10, 0.5fr);
  gap: 0.5rem;
  margin: 8vh 8vw;
  padding: 5vh 10vw;
  border: solid 2px;
  background-color: #2d2e2e; }
  .gohanpage img {
    border: solid 1px black;
    width: 100%;
    height: auto;
    cursor: pointer; }
    .gohanpage img:nth-child(1) {
      grid-column: 1/5;
      grid-row: 2/6; }
    .gohanpage img:nth-child(2) {
      grid-column: 6/8;
      grid-row: 2/4; }
    .gohanpage img:nth-child(3) {
      grid-column: 8/10;
      grid-row: 3/5; }
    .gohanpage img:nth-child(4) {
      grid-column: 6/8;
      grid-row: 4/6; }

.mangapage {
  display: grid;
  grid-template-columns: repeat(10, 0.5fr);
  gap: 0.5rem;
  margin: 8vh 8vw;
  padding: 5vh 10vw;
  border: solid 2px;
  background-color: #2d2e2e; }
  .mangapage img {
    border: solid 1px black;
    width: 100%;
    height: auto;
    cursor: pointer; }
    .mangapage img:nth-child(1) {
      grid-column: 1/5;
      grid-row: 1/5; }
    .mangapage img:nth-child(2) {
      grid-column: 9/11;
      grid-row: 4/5; }
    .mangapage img:nth-child(3) {
      grid-column: 7/10;
      grid-row: 1/4; }
    .mangapage img:nth-child(4) {
      grid-column: 6/8;
      grid-row: 4/6; }

.gokussjpage {
  display: grid;
  grid-template-columns: repeat(9, 0.5fr);
  gap: 0.5rem;
  margin: 8vh 8vw;
  padding: 5vh 10vw;
  border: solid 2px;
  background-color: #2d2e2e; }
  .gokussjpage img {
    border: solid 1px black;
    width: 100%;
    height: auto;
    cursor: pointer; }
    .gokussjpage img:nth-child(1) {
      grid-column: 1/5;
      grid-row: 2/6; }
    .gokussjpage img:nth-child(2) {
      grid-column: 6/8;
      grid-row: 2/4; }
    .gokussjpage img:nth-child(3) {
      grid-column: 8/10;
      grid-row: 3/5; }
    .gokussjpage img:nth-child(4) {
      grid-column: 6/8;
      grid-row: 4/6; }

.tabla, th, td {
  margin: 20px auto 0 auto;
  padding: 5px;
  border: solid 1px black;
  border-collapse: collapse;
  text-align: center;
  background-color: white; }
  .tabla ul li, th ul li, td ul li {
    list-style-type: none;
    text-align: start; }

footer {
  color: white; }
