
.cont {
    display: flex;
    justify-content: center;

    h1 {
        text-align: center;
        margin: 5vw 0;
        font-size: 6rem;
        font-family: 'Koulen', cursive;
        color:#7791ed;
        -webkit-text-stroke: 4px black;
        height: 200px;
        margin-bottom: 0;
    }

    img {
        transition: transform .5s;
        
        &:hover {
            transform: scale(1.2);
        }
        
        height: 200px;
        margin: 2vw 0;
    }
}

.contacto {
    background: url(../imagenes/vegeta-fondo.webp) no-repeat;
    background-size: 450px auto;
    background-position: left;

    form {
        text-align: center;
        font-size: x-large;
        width: 500px;
        background-color: black;
        padding: 5vh;
        margin: auto;
        max-width: 90%;
        border-radius: 4px;
        color: white;
        box-shadow: 7px 13px 37px grey;

        .nombre, .apellido, .email {
            input {
                width: 90%;
                padding: 2vh;
                border-radius: 4px;
                margin-bottom: 1rem;
                border: 1.5px solid #839cf7;
                font-size: 1rem;
            }
        }
        
        .genero {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
            border-radius: 4px;
            border: 1.5px solid #839cf7;
        }
        
        .novedades {
            margin-bottom: 1rem;
        }
        
        .input {
            width: 20px;
            height: 20px;
        }

        textarea {
            border-radius: 4px;
            border: 1.5px solid #839cf7;
            padding: 2vh;
            max-width: 90%;
        }

        @mixin boton {
            border-radius: 4px;
            font-size: 1.5rem;
            padding: 1vh 1vw;
            margin: 1rem 0;
            color: white;
        }

        .boton-limpiar {
            background-color: rgb(161, 161, 161);
            @include boton;
        }

        .boton-enviar {
            background-color: #839cf7;
            @include boton;
        }
    }

}
