@media screen and (max-width: 426px) {
    .productospage h2, .noticiaspage h2, .multimediapage h2, .contacto h2 {
        text-align: center;
    }
    .logo img {
        display: none;
    }
    
}

@media (min-width: 0px) and (max-width: 425px) {
    .logo .cuatroest img {
        display: flex;
        background-color: black;
        justify-content: center;
        max-width: 100%;
    }
}

@media screen and (min-width: 426px) {
    .logo .cuatroest img {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .inicio {
        display: none;
    }
}

@media (min-width: 0px) and (min-width: 425px) {
    .lomas {
        text-align: center;
        margin: 5vw 0;
        font-size: 3rem;
    }
}

@media (min-width: 426px) and (max-width: 2560px) {
    .lomas {
        display: none;
    }
}