html {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    background-color: beige;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../imagenes/fondodepantalla.jpg);
    background-attachment: fixed;
    top: 160px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

@import "mediaq";

// index

.encabezado .logo {
    display: flex;
    background-color: black;
    justify-content: center;
    max-width: 100%;
    background: radial-gradient(white, rgb(131, 247, 183));
    height: 160px;
}

.logo img {
    width: auto;
    height: 150px;
}

.logo .cuatroest img {
    max-width: 100%;
}

.navbar {
    background-color: rgb(0, 0, 0);
    .collapse {
        justify-content: center;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    margin: 0 16px;
    font-size: 1.5rem;
    &:hover {
        background-color: antiquewhite;
    }
}

.navbar-light .navbar-toggler-icon {
    background-color: rgb(131, 247, 183);
}

.inicio {
    h1 {
        text-align: center;
        margin: 5vw 0;
        font-size: 5rem;
    }
}

.noticias {
    h2 {
        text-align: center;
        margin: 20px 0 30px 0;
        font-size: 3rem;
        text-decoration: underline;  
    }
}

.carousel-caption {
    background-color: rgb(153, 152, 152);
    right: 40%;
    left: 40%;
    opacity: 0.80;
}

.productos {
    h2{
        text-align: center;
        margin: 40px 0 20px 0;
        font-size: 50px;
        text-decoration: underline;
    }
    p {
        text-align: center;
    }
}

.fleximg {
    display: flex;
    gap: 1rem;
    flex-flow: row wrap;
    gap: 0.8rem;
    padding: 1rem;
    justify-content: center;
    margin-bottom: 2rem;

    .gohan {
        border: 1px solid #000;
        width: 400px;
        background-color: white;
    }

    .manga {
        @extend .gohan;
    }

    .gokussj {
        @extend .gohan;
    }

    img {
        width: 100%;
    }

}

.multimedia {
    h2 {
        text-align: center;
        margin: 40px 0 20px 0;
        font-size: 50px;
        text-decoration: underline;
    }

    iframe {
        display: block;
        margin: auto;
        max-width: 90%;
    }

    p {
        text-align: center;
        margin-top: 2px;
        font-size: 1.3rem;
    }
}

footer {
    background-color: #000;
    margin-top: 80px;
    padding: 2rem;
    background: linear-gradient(to left, rgb(59, 59, 59), #000);

    .float {
        float: right;
    }

    .insta:hover {
        color:rgb(236, 12, 124)
    }

    .tama:hover {
        color: yellowgreen;
    }

    a {
        color: white;
        text-decoration: none;
    }

    .bi-instagram, .bi-facebook, .bi-bag {
        font-size: 2rem;
        margin: 0 16px;
    }

    .bi-instagram:hover {
        color:rgb(236, 12, 124)
    }

    .bi-bag:hover {
        color: yellowgreen;
    }
}

// fin de index

@import "noticias";

@import "multimedia";

@import "contacto";

@import "productos";

$colores: (
    copy: white,
);

footer {
    color: map-get($map:$colores , $key:copy);
}



